<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.smart.address.mapper.AddressMapper">
  <resultMap id="BaseResultMap" type="com.smart.address.domain.entity.Address">
    <!--@mbg.generated-->
    <!--@Table address-->
    <id column="aid" jdbcType="INTEGER" property="aid" />
    <result column="city" jdbcType="VARCHAR" property="city" />
    <result column="uid" jdbcType="INTEGER" property="uid" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    aid, city, `uid`
  </sql>
</mapper>